.center-per {
  transform: translateX(-10px);
  padding-right: 10px;
}
.layui-footer {
  text-align: center;
  font-size: 12px;
}
.layui-nav-item a span {
  margin-right: 8px;
}
.layui-icon {
  margin-right: 5px;
  margin-left: 20px;
}
.layui-body {
  overflow: hidden;
}
.layui-body iframe {
  width: 100%;
  height: 100%;
}
